snippet stles Create stateless widget
	class $1 extends StatelessWidget {
		const $1({super.key});

			@override
			Widget build(BuildContext context) {
				return ${0:SizedBox.shrink()};
			}
	}

snippet stful Create stateful widget
	class $1 extends StatefulWidget {
		const $1({super.key});

		@override
		State<$1> createState() => _$1State();
	}

	class _$1State extends State<$1> {
		@override
		Widget build(BuildContext context) {
			return ${0:SizedBox.shrink()};
		}
	}
